# Exclude OpenJDK JDK 21.0.2 directory
open_jdk/jdk-21.0.2/

# Exclude Apache Maven 3.9.6
apache_maven/apache-maven-3.9.6

# Spring exclusion
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Node.js dependencies
/node_modules

# Compiled output
/build